@-webkit-keyframes backgroundAnimation {
	from {
		background-position: 0 0;
	}
	
	to {
		background-position: 400000px 400000px;
	}
}

@font-face {
	font-family: "Uptown Elegance Regular";
	src: url("../fonts/Uptown Elegance Regular.ttf");
}

#mastermind {
	margin: 0;
	padding-top: 30px;
	text-align: center;
	background-color: #333;
	font-family: "Uptown Elegance Regular";
	background-image: url("../graphics/brickwall.jpg");
	background-repeat: repeat;
	-webkit-animation: backgroundAnimation 4000s infinite;
	cursor: url("../cursors/oxy-black/left_ptr.cur"), default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

#mastermind a {
	cursor: url("../cursors/oxy-black/pointing_hand.cur"), pointer;
}

#mastermind ul {
	margin-top: 100px;
	padding: 0;
	list-style-type: none;
}

#mastermind ul li a {
	color: rgba(128,128,128,0.5);
	font-size: 72px;
	text-decoration: none;
	-webkit-transform: scale(.5);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 200ms;
}

#mastermind ul li a:hover {
	font-weight: bold;
	color: rgba(255,255,255,0.5);
	-webkit-transform: scale(1);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 200ms;
	position: relative;
}